<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DZEntities" connectionString="metadata=res://*/DZEntity.csdl|res://*/DZEntity.ssdl|res://*/DZEntity.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=IFORMLOCAL;PASSWORD=hnzt123;USER ID=ZOOMTELDZ&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>