<?xml version="1.0"?>
<configuration>
 
 
    <connectionStrings>
      <add name="DZEntities" connectionString="metadata=res://*/DZEntity.csdl|res://*/DZEntity.ssdl|res://*/DZEntity.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=iform;PASSWORD=hnzt123;USER ID=ZOOMTELDZ&quot;" providerName="System.Data.EntityClient"/>
    </connectionStrings>



  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
