<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="RegionSort" value="夏津402,夏津401,乐陵204,乐陵201,乐陵202,乐陵203,乐陵206,乐陵205,禹城303,禹城302,禹城301,禹城310,禹城309,禹城308,禹城307,禹城306,禹城304,禹城305,德城118,德城114,德城113,德城112,德城111,德城110,德城109,德城115,德城117,德城116,德城106,德城107,德城108,德城104,德城105,德城101,德城102,德城103"/>

  </appSettings>
  <connectionStrings>
    <add name="DZEntities" connectionString="metadata=res://*/DZEntity.csdl|res://*/DZEntity.ssdl|res://*/DZEntity.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=IFORMLOCAL;PASSWORD=hnzt123;USER ID=ZOOMTELDZ&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
