<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DZEntities"
      connectionString="metadata=res://*/DZEntity.csdl|res://*/DZEntity.ssdl|res://*/DZEntity.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=CZT-TEST;PASSWORD=hnzt123;PERSIST SECURITY INFO=True;USER ID=ZOOMTEL&quot;"
      providerName="System.Data.EntityClient"/>
    <!--<add--><!-- name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>-->
  </connectionStrings>
 
 
</configuration>